*m_best.pt
*.json
*.pyc
*.gz
pipeline/augmented_datasets/url/*
pipeline/augmented_datasets/malware/*
pipeline/augmented_datasets/lcld_v2_time/*
pipeline/augmented_datasets/ctu_13_neris/*
*.zip
*/pipeline/*.csv

pipeline/wids.csv
pipeline/wids_metadata.csv
/trained_models/*
/.idea/*
/constrained-attacks/*

__pycache/

.idea/
.ipynb_checkpoints/

catboost_info/
logs/
output/

*.db